# Visual Studio
.vs/
.vscode/
.idea/
*.suo
*.user
*.userosscache
*.sln.docstates

# Build outputs
bin/
obj/
Debug/
Release/
x64/
x86/
bin_verify/
**/bin_verify/

# C/C++
*.ilk
*.ipch
*.iobj
*.ipdb
*.pch
*.pdb
*.exp
*.lib
*.idb
*.tlog
*.lastbuildstate

# C#
*.cache

# Logs
*.log
*.tmp
*.bak
*.dmp

# Recording outputs
*.mp4
